@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", serif;
    background-color: var(--Light-Grayish-Blue);
    width: 100%;
    height: 100vh;
}

.container{
    background-color: white;
    max-width: 21rem;
    /* padding: 35px 35px 0 35px; */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

h1{
    color: var(--Dark-Grayish-Blue);
    font-size: 16px;
    font-weight: 700;
}

h2{
    font-size: 14px;
    color: var(--Dark-Grayish-Blue);
}

.para1{
    color: var(--Dark-Blue);
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.5;
    padding: 15px 0;
}

.para2{
    font-size: 12px;
    font-weight: 500;
    color: var(--Dark-Blue);
}

.drawer-img{
    width: 100%;
    max-width: 21rem; 
    height: 200px;
    object-fit: cover;
    display: block;  
    border-top-right-radius: 15px;
    border-top-left-radius: 15px; 
}

.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.michelle-img{
    border-radius: 50%;
}

.descriptionDetails{
    margin-left: -50px;
    line-height: 1.6;
    padding: 20px 0;
}

.share-icon{
    z-index: 20;
}

button{
    border: none;
    background-color: var(--Light-Grayish-Blue);
    color: var(--Dark-Blue);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:focus{
    border: none;
}

/* SOCIAL ICONS */
.social-icons{
    display: none;
    position: absolute;
    bottom: 40px;
    width: 21rem;
    background-color: var(--Dark-Grayish-Blue);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 30px 35px;
    transition: all 0.3s ease-in-out;
}


.social-icons ul{
    display: flex;
    align-items: center;
    gap: 32px; 
}

ul li{
    list-style-type: none;
}

li p{
    color: var(--Grayish-Blue);
    letter-spacing: 5px;
    font-weight: 500;
}

li a{
    color: var(--Light-Grayish-Blue); 
}

.icon{
    margin-left: -20px;   
}

.fab{
    font-size: 23px;
}

@media only screen and (min-width: 1200px){

h1{
    font-size: 23px;
}

body{
    border-radius: 0;
}
section{
    display: flex;
}

.container{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
    max-width: 30rem;
    padding: 35px 45px 20px 45px;
}

.drawer-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    height: 100%;
}

.descriptionDetails{
    margin-left: -160px;
    padding-top: 8px;
}

.social-icons {
    position: absolute;
    top: 280px;
    right: 180px;
    width: 20%;
    padding: 20px;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: .8rem;
    height: 10%;
}

.social-icons ul{
    justify-content: center;
}

.social-icons::after{
    content: " ";
    display: block;
    width: 20px;
    background-color: var(--Dark-Grayish-Blue);
    aspect-ratio: 1;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: rotate(45deg);
}
}