@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
    font-family: "Manrope", serif;
    background-color: var(--Light-Grayish-Blue);
    padding: 70px 20px;
}

.container{
    background-color: white;
    max-width: 100%;
    padding: 35px;
}

h1{
    color: var(--Dark-Grayish-Blue);
    font-size: 16px;
    font-weight: 700;
}

.para1{
    color: var(--Dark-Blue);
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.5;
    padding: 15px 0;
}

.drawer-img{
    width: 100%;
    max-width: 100%; 
    height: 200px;
    object-fit: cover;
    display: block;  
    /* border-top-right-radius: 15px;      */
}

.col{
    display: flex;
}